<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../style/css/style.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
	<title>Ashkan sports club</title>
</head>
<body>
	<header>
		<!-- navbar -->
		<nav class="navbar navbar-expand-md fixed-top navbar-light bg-light">
			<div class="container navbar-div">
				<div class="navbar-brand mb-0 h1">Logo</div>
				<button
				type="button"
				data-toggle="collapse"
				data-target="#navbarNav"
				class="navbar-toggler"
				aria-controls="navbarNav"
				aria-expanded="false"
				aria-label="Toggle navigation"
				>
				<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item"><a href="index.html" class="nav-link">Home</a></li>
						<li class="nav-item"><a class="nav-link">Honor</a></li>
						<li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
						data-toggle="dropdown"
						aria-expanded="false">
						Members</a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
								<li><a href="" class="dropdown-item">Coaches</a></li>
								<li><a href="" class="dropdown-item">Top athlete</a></li>
							</ul>
						</li>
						<li class="nav-item"><a class="nav-link">Blog</a></li>
						<li class="nav-item"><a class="nav-link">About us</a></li>
						<li class="nav-item"><a class="nav-link">Login</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>

	<footer class="footer bg-dark mt-2">
		<div class="container">
		  	<div class="row">
				<div class="col-sm-4 mt-3">
					<div class="footer-widget">
					  <h3 class="text-danger">Contact with us</h3>
					  <div class="footer-widget-content">
						<a href="mailto:sales@example.com" class="contact-link text-light">sales@example.com</a>
						<a href="mailto:support@example.com" class="contact-link red text-light"> support@example.com </a>
						<a href="tel:0121234" class="contact-link text-light">(123) 456-789</a>
					  </div>
					</div>
				</div>
				<div class="col-sm-4 mt-3">
					  <div class="footer-widget">
						  <h3 class="text-danger">Latest Events</h3>
						  <div class="footer-widget-content">
							  <div class="media">
								  <div class="media-body">
									  <p><a href="#" class="text-light">vulputate velit esse consequat. </a></p>
									  <span class="text-light">September 30, 2016 </span>
								  </div>
							  </div>
							  <div class="media">
								  <div class="media-body">
								  <p><a href="#" class="text-light">vulputate velit esse consequat. </a></p>
								  <span class="text-light">September 30, 2016 </span>
								  </div>
							  </div>
						  </div>
					  </div>
				</div>
				<div class="col-sm-4 mt-3">
				  	<div class="footer-widget">
					<h3 class="text-danger">Opening Hour</h3>
						<div class="footer-widget-content">
							<div class="open-time ">
								<ul class="opening-time">
									<li class="text-danger"><span><i class="fa fa-times"></i></span><p class="clock-time text-light"><strong>monday :</strong> closed</p>
									</li>
									<li class="text-danger"><span><i class="fa fa-check"></i></span><p class="text-light"><strong>tue-fri :</strong> 8am - 12am</p></li>
									<li class="text-danger"><span><i class="fa fa-check"></i></span><p class="text-light"><strong>sat-sun :</strong> 7am - 1am</p></li>
									<li class="text-danger"><span><i class="fa fa-check"></i></span><p class="text-light"><strong>holydays :</strong> 12pm-12am</p></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row mt-5">
				<div class="col-md-12">
					<p class="text-light text-center"><span class="text-danger">Created by:</span> Amir Hossein Mollashahi</p>
				</div>
			</div>	
		</div>
	</footer>

	<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script> 
</body>
</html>