{% extends 'home/base.html' %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'registration/css/login.css' %}">
{% endblock %}

{% block title %}Log out{% endblock %}

{% block header %}
		
{% endblock %}

{% block content %}
<section style="margin-top: 70px;" class="form">
    <div class="container">
        <div class="row no-gutters login-row">
            <div class="col-lg-5">
                <img src="/media/registration/login.png" class="img-fluid login-img" alt="">
            </div>
            <div class="col-lg-7 px-5 pt-5">
                <h1 class="font-weight-bold py-3">لوگو</h1>
                <h4>شما با موفقیت از حسابتان خارج شدید</h4>
                <div class="form-row">
                    <div class="col-lg-7">
                        <a href="{% url 'dashboard:login' %}" class="btn btn-light btn-outline-dark">ورود دوباره</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}