{% extends 'home/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'home/css/about-us.css' %}">
{% endblock %}

{% block title %}
About us
{% endblock %}

{% block header %}
<div class="">
    <img class="img-fluid header-pic" src="/media/home/slider/1.jpeg" alt="">
</div>
{% endblock %}

{% block content %}
<!-- <div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6 mt-5">
                    <img src="/media/home/about-us/Logo.png" alt="" class="img-fluid" style="width: 350px;" height="350px">
                </div>
                <div class="col-md-6 mt-5">
                    <div style="margin-top: 100px;">
                        <h3>Ashkan sports club</h3>
                        <p>تخصصی ترین باشگاه ورزشی در استان گلستان</p>
                        <p>با حرفه ای ترین و مجرب ترین مربیان برتر استان و کشور</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4 mt-5">
                    <img src="/media/home/services/s1.jpg" style="width: 170px; height: 170px;" alt="spider-man" class="img-fluid rounded-circle">
                    <h3>This is first</h3>
                </div>
                <div class="col-md-4 mt-5">
                    <img src="/media/home/services/s1.jpg" style="width: 170px; height: 170px;" alt="spider-man" class="img-fluid rounded-circle">
                    <h3>This is first</h3>
                </div>
                <div class="col-md-4 mt-5">
                    <img src="/media/home/services/s1.jpg" style="width: 170px; height: 170px;" alt="spider-man" class="img-fluid rounded-circle">
                    <h3>This is first</h3>
                </div>
            </div>
        </div>
    </div>
</div> -->
<section class="aboutus">
    <div class="container mt-5">
        <div class="main-timeline">
        
                                <!-- start experience section-->
                                <div class="timeline">
                                    <div class="icon"></div>
                                    <div class="date-content">
                                        <div class="date-outer">
                                            <span class="date">
                                                    <span class="month">2 Years</span>
                                            <span class="year">2013</span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="timeline-content">
                                        <h5 class="title">Visual Art &amp; Design</h5>
                                        <p class="description">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed efficitur ex sit amet massa scelerisque scelerisque. Aliquam erat volutpat. Aenean interdum finibus efficitur. Praesent dapibus dolor felis, eu ultrices elit molestie.
                                        </p>
                                    </div>
                                </div>
                                <!-- end experience section-->
        
                                <!-- start experience section-->
                                <div class="timeline">
                                    <div class="icon"></div>
                                    <div class="date-content">
                                        <div class="date-outer">
                                            <span class="date">
                                                    <span class="month">1 Years</span>
                                            <span class="year">2015</span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="timeline-content">
                                        <h5 class="title">Product Designer</h5>
                                        <p class="description">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed efficitur ex sit amet massa scelerisque scelerisque. Aliquam erat volutpat. Aenean interdum finibus efficitur. Praesent dapibus dolor felis, eu ultrices elit molestie.
                                        </p>
                                    </div>
                                </div>
                                <!-- end experience section-->
        
                                <!-- start experience section-->
                                <div class="timeline">
                                    <div class="icon"></div>
                                    <div class="date-content">
                                        <div class="date-outer">
                                            <span class="date">
                                                    <span class="month">2 Years</span>
                                            <span class="year">2016</span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="timeline-content">
                                        <h5 class="title">Web Designer</h5>
                                        <p class="description">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed efficitur ex sit amet massa scelerisque scelerisque. Aliquam erat volutpat. Aenean interdum finibus efficitur. Praesent dapibus dolor felis, eu ultrices elit molestie.
                                        </p>
                                    </div>
                                </div>
                                <!-- end experience section-->
        
                                <!-- start experience section-->
                                <div class="timeline">
                                    <div class="icon"></div>
                                    <div class="date-content">
                                        <div class="date-outer">
                                            <span class="date">
                                                    <span class="month">2 Years</span>
                                            <span class="year">2018</span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="timeline-content">
                                        <h5 class="title">Graphic Designer</h5>
                                        <p class="description">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed efficitur ex sit amet massa scelerisque scelerisque. Aliquam erat volutpat. Aenean interdum finibus efficitur. Praesent dapibus dolor felis, eu ultrices elit molestie.
                                        </p>
                                    </div>
                                </div>
                                <!-- end experience section-->
        
                            </div>
    </div>
</section>

<div class='container-fluid mx-auto mt-5 mb-5 col-12' style="text-align: center">
    <div class="hd">Why People Believe in Us</div>
    <p><small class="text-muted">Always render more and better service than <br />is expected of you, no matter what your ask may be.</small></p>
    <div class="row" style="justify-content: center">
        <div class="card col-md-3 col-12">
            <div class="card-content">
                <div class="card-body"> <img class="img" src="https://i.imgur.com/S7FJza5.png" />
                    <div class="shadow"></div>
                    <div class="card-title"> We're Free </div>
                    <div class="card-subtitle">
                        <p> <small class="text-muted">We spent thousands of hours creating on algorithm that does this for you in seconds. We collect a small fee from the professional after they meet your</small> </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card col-md-3 col-12 ml-2">
            <div class="card-content">
                <div class="card-body"> <img class="img" src="https://i.imgur.com/xUWJuHB.png" />
                    <div class="card-title"> We're Unbiased </div>
                    <div class="card-subtitle">
                        <p> <small class="text-muted"> We don't accept ads from anyone. We use actual data to match you who the best person for each job </small> </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card col-md-3 col-12 ml-2">
            <div class="card-content">
                <div class="card-body"> <img class="img rck" src="https://i.imgur.com/rG3CGn3.png" />
                    <div class="card-title"> We Guide you </div>
                    <div class="card-subtitle">
                        <p> <small class="text-muted">Buying or selling a home is often the largest transaction anyone does in their life. we guide you through the process so that you can be confident in reaching your dream outcome.</small> </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ft">
        <p class="chk"><small class="text-muted">Still not sure?</small></p>
        <div class="btn btn-primary">Read All Testimonials</div>
    </div>
</div>

{% endblock %}