{% extends 'home/base.html' %}
{% load static %}

{% block title %}Coaches{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'members/coaches/coaches.css' %}">
{% endblock %}

{% block header %}
		
{% endblock %}

{% block content %}
<div class="container c-body" style="margin-top: 100px;">
    <div class="row">
        <div class="col-md-12">
            <div class="row justify-content-center pb-5">
                <div class="col-md-3">
                    <div class="card-content mt-5">
                        <div class="card-body p-0">
                            <div class="profile"> <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1574583336/AAA/4.jpg"> </div>
                            <div class="card-title mt-4 px-1"> Angelina Frederic<br /> <small>Head of marketing at K mart</small> </div>
                            <div class="card-subtitle px-1">
                                <p> <small class="text-muted"> I expected anything less than perfect for the team of experts. They are the best team ever! </small> </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card-content mt-5">
                        <div class="card-body p-0">
                            <div class="profile"> <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1574583336/AAA/4.jpg"> </div>
                            <div class="card-title mt-4 px-1"> Angelina Frederic<br /> <small>Head of marketing at K mart</small> </div>
                            <div class="card-subtitle px-1">
                                <p> <small class="text-muted"> I expected anything less than perfect for the team of experts. They are the best team ever! </small> </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card-content mt-5">
                        <div class="card-body p-0">
                            <div class="profile"> <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1574583336/AAA/4.jpg"> </div>
                            <div class="card-title mt-4 px-1"> Angelina Frederic<br /> <small>Head of marketing at K mart</small> </div>
                            <div class="card-subtitle px-1">
                                <p> <small class="text-muted"> I expected anything less than perfect for the team of experts. They are the best team ever! </small> </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card-content mt-5">
                        <div class="card-body p-0">
                            <div class="profile"> <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1574583336/AAA/4.jpg"> </div>
                            <div class="card-title mt-4 px-1"> Angelina Frederic<br /> <small>Head of marketing at K mart</small> </div>
                            <div class="card-subtitle px-1">
                                <p> <small class="text-muted"> I expected anything less than perfect for the team of experts. They are the best team ever! </small> </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card-content mt-5">
                        <div class="card-body p-0">
                            <div class="profile"> <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1574583336/AAA/4.jpg"> </div>
                            <div class="card-title mt-4 px-1"> Angelina Frederic<br /> <small>Head of marketing at K mart</small> </div>
                            <div class="card-subtitle px-1">
                                <p> <small class="text-muted"> I expected anything less than perfect for the team of experts. They are the best team ever! </small> </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card-content mt-5">
                        <div class="card-body p-0">
                            <div class="profile"> <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1574583336/AAA/4.jpg"> </div>
                            <div class="card-title mt-4 px-1"> Angelina Frederic<br /> <small>Head of marketing at K mart</small> </div>
                            <div class="card-subtitle px-1">
                                <p> <small class="text-muted"> I expected anything less than perfect for the team of experts. They are the best team ever! </small> </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}