{% extends 'home/base.html' %}
{% load static %}

{% block title %}Top athlete{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'members/top_athlete/top_athlete.css' %}">
{% endblock %}

{% block header %}
		
{% endblock %}

{% block content %}
<div class="team-area section-padding">
    <div class="container">
      	<div class="row">
        	<div class="col-md-4 mt-5">
          		<div class="single-team">
            		<div class="team-img">
              			<img src="https://i.postimg.cc/T192DFG5/1.jpg" alt="" class="img-responsive">
        			</div>
  					<div class="team-content">
              			<div class="team-info">
                			<h3>Claire Chedd</h3>
  							<p>Designation</p>
  						</div>
  						<p class="team-text">
  						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam quasi, vel.
						</p>
  					</div>
  				</div>
  			</div>
			<div class="col-md-4 mt-5">
				<div class="single-team">
				  	<div class="team-img">
						<img src="https://i.postimg.cc/fR3ZzJ39/2.jpg" alt="" class="img-responsive">
				  	</div>
					<div class="team-content">
						<div class="team-info">
						  <h3>Claire Chedd</h3>
							<p>Designation</p>
						</div>
						<p class="team-text">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam quasi, vel.
					  </p>
					</div>
				</div>
			</div>
			<div class="col-md-4 mt-5">
				<div class="single-team">
				  	<div class="team-img">
						<img src="https://i.postimg.cc/R0KBtyLC/3.jpg" alt="" class="img-responsive">	
				  	</div>
					<div class="team-content">
						<div class="team-info">
							<h3>Claire Chedd</h3>
							<p>Designation</p>
						</div>
						<p class="team-text">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam quasi, vel.
					  	</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 mt-5">
				<div class="single-team">
				  	<div class="team-img">
						<img src="https://i.postimg.cc/fR3ZzJ39/2.jpg" alt="" class="img-responsive">
				  	</div>
					<div class="team-content">
						<div class="team-info">
						  <h3>Claire Chedd</h3>
							<p>Designation</p>
						</div>
						<p class="team-text">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam quasi, vel.
					  </p>
					</div>
				</div>
			</div>
  		</div>
  	</div>
</div>

{% endblock %}